*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
  // area,
button,
[role='button'],
input,
label,
select,
  // summary,
textarea {
  touch-action: manipulation;
}

svg {
  a &,
  button & {
    pointer-events: none; // We love EDGE! This is a browser!
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

body {
  min-width: $mobile-width;
  margin: 0 auto;

  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  font-family: $font;
  color: $main-text;

  background-color: $main-bg;
  background-repeat: no-repeat;
  background-size: contain;
}
