//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    //- список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      let modsList = mods.split(',');
      for (let mod of modsList) {
        allMods = allMods + ' page-header--' + mod.trim();
      }
    }

  header.page-header(class=allClasses)&attributes(attributes)
    block
