//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='no-js', lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров автоматом преобразуют данные вещи в ссылки. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.min.css')

  body
    noscript JavaScript по какой-то причине отключен. Правильная работа сайта не гарантирована.

    block header
      p шапка
    block content
      p содержимое
    block footer
      p подвал

    block page-bottom
      script(src='js/script.min.js')
